body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #c39797;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style: none;
  }
  
  .App-header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .App-header a:hover {
    color: #f0f8ff;
  }
  