@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

html, body, #root, .App {
  height: 100%;
  margin: 0;
  font-family: 'Bona Nova', serif;
}
  .App-header {
   background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style: none;
  }
  
  .App-header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .App-header a:hover {
    color: #f0f8ff;
  }

  main {
  flex: 1; 
  padding: 20px;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
}
  